/* .App {
  /* text-align: center; 
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
#header_ img{
  height:60px;
	position: absolute;
}

#header_ h1{
  margin:0;
	line-height: 30px;
	margin-left: 70px;
	padding-top: 15px;
  text-align: left;
}

#header_ form{
  margin-top: 30px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table, th, tr, td {
  border: 1px solid white;
}

.search-container {
  min-width: 170px;
  /* margin: 50px auto; */
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
