@function pixel-to-rem($px-s) {
  $ret: $px-s / 16px;

  @return #{ret}rem;
}

img.logo {
  height: 60px;
  width: 60px;
  position: absolute;
}

#header_ {
  // height: 180px;
  img{
    height:60px;
    width: 60px;
    // padding-bottom: 30px;
	  // position: absolute;
  }
  div {
    // background-color: white;
    align-items: center;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: #444;
}

.App-link {
  color: #61dafb;
}

.input-text {
  text-align: left;
}

h5.info {
  font-size: pixel-to-rem(16px);

  span {
   font-size: pixel-to-rem(20px);
  }
}

table, th, tr, td {
  border: 1px solid white;
}

.search-container {
  min-width: 250px;
  /* margin: 50px auto; */
}

.input-text {
  border: none;
  background-color: #444;
	color: whitesmoke;
	font-size: 16px;
}

.input-button {
  border-top: none;
  border-right: none;
  border-bottom: none;
	border-left-width: 2px;
	border-radius: 5px;
  border-color: #282c34;
	background-color: #444;
	color: whitesmoke;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

.input-button:hover {
  background-color: #7f7f7f;
}

.input-button:active {
  background-color: rgb(197, 150, 133);
}

@import "partials/LawsuitPreview.scss";
@import "partials/SortOptions.scss";
@import "partials/Welcome.scss";
