.container-list{
	background-color: #444;
  margin: 8px 0;
  padding: 15px 20px;
  border-radius: 20px;
  color: whitesmoke;
	border: 2px solid coral;
	cursor: pointer;
}

.preview_titulo {
	color: rgb(155, 155, 155);
}

p.atualizado_preview {
	color: rgb(155, 155, 155);
	margin-bottom: 0px;
	margin-left: 30px;
	font-size: 13px;
}

div.preview_cont {
	text-align: left;
}