.input-dropdown {
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left-width: 1px;
	border-radius: 5px;
	border-color: #282c34;
	background-color: #444;
	color: whitesmoke;
	font-size: 16px;
	height: 30px;
	width: 150px;
	text-align: left;
}

.input-dropdown:hover {
	background-color: #7f7f7f;
}
