#welcome_  {
    width: 100%;
    
    #landing_ {
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            margin-top: 100px;
            text-align: center;
            height: 200px;
        }

        h1 {
            font-size: 48px;
            padding: center;
        }

        div {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
